*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin:0;
    background-size:cover;
    color:rgba(255, 255, 255, 0.53);
}

.battlespace {
    display: flex;
    justify-content: space-around;
}

.playerspace {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
    position:relative;
    
}

.playerspace>h1{
    margin: 1vw;
}

.playername{
    margin: 1vw;
}

.playerhp {
    margin: 1vw;
}

.playernamehp {
    display: flex;
    align-items: center;
    height:30%;
    margin: 1vh;
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.playeroptions{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.playeroptions>button{
    width:5vw;
}

.playeritems{
   display: flex;
   flex-direction: column;
   margin-top: 1vh; 
}

.playeritems>button{
    width:5vw;
}

.monsterspace{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
    position:relative;
    width:15vw;
}

.monsterspace>h1{
    margin: 1vw;
}

.monsterhp {
    margin: 1vw;
}

.monsternamehp {
    display: flex;
    align-items: center;
    height:30%;
    margin: 1vh;
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.monsteroptions{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.monsteroptions>button{
    width:5vw;
}

.target{
    color:red
}

.hide{
    display:none
}

.floatingdamage{
    position: absolute;
    top: 30px;
    right: 5px;
    color:red;
    opacity:1;
    font-size: 1.5em;
    font-weight: bolder;
    transition: opacity ease-out 200ms
}

.dim {
    background-color: rgba(125, 117, 117, 0.69);
    transition:  background-color ease-in-out 250ms;
}

.sneak{
    opacity:0;
}

.healing{
    color: green !important;
}