*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin:0
}

.battlespace {
    display: flex;
    justify-content: space-around;
}

.playerspace {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
}

.playerspace>h1{
    margin: 1vw;
}

.playerhp {
    margin: 1vw;
}

.playernamehp {
    display: flex;
    align-items: center;
}

.playeroptions{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.playeritems{
   display: flex;
   flex-direction: column;
   margin-top: 1vh; 
}

.monsterspace{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
}

.monsterspace>h1{
    margin: 1vw;
}

.monsterhp {
    margin: 1vw;
}

.monsternamehp {
    display: flex;
    align-items: center;
}

.monsteroptions{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.target{
    color:red
}